.MyStory {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.MyStory--text {
  padding-top: 7rem;
  padding-right: 3rem;
}

.MyStory--image {
  margin-top: 1.5rem;
  text-align: center;
}

.MyStory--content {
  margin-top: 3rem;
}

.MyStory--image img {
  height: 55%;
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .MyStory {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .MyStory--text {
    padding-top: 3rem;
  }

  .MyStory--image img {
    height: auto;
  }
}

@media screen and (min-width: 40em) and (orientation: landscape) {
  .MyStory--image img {
    height: 60%;
  }

  .MyStory--text {
    padding-top: 5rem;
  }
}

@media screen and (max-width: 39.9375em) {
  .MyStory {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .MyStory--text {
    padding: .5rem;
  }
}
