.Contact {
  padding-bottom: 10rem;
  margin-bottom: 0;
}

.Contact p {
  margin-bottom: 0;
  text-align: center;
}

.Contact h2 {
  margin-left: auto;
  margin-right: auto;
}

.Contact--header {
  padding-top: 8rem;
  padding-bottom: .7rem;
}

.Contact--unbold {
  font-weight: 300;
}

.Contact--back-to-top img {
  margin-top: 20rem;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 70%;
  transform: scaleY(-1);
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .Contact {
    padding-bottom: 7rem;
  }
}
