.Contact {
  margin-bottom: 0rem;
}

.Contact--unbold {
  font-weight: 300;
}

.Contact--back-to-top img {
  margin-top: 20rem;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 70%;
  transform: scaleY(-1);
}

@media screen and (max-width: 39.9375em) {
  .Contact--back-to-top img {
    margin-top: 10rem;
  }
}
