.Intro {
  margin-top: 2.1rem;
  margin-bottom: 1rem;
}

.Intro--self-portrait {
  margin-top: 6rem;
}

.Intro--sub-heading {
  font-size: 1.5rem;
  line-height: 3rem;
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .Intro--sub-heading {
    font-size: 1em;
    padding: .5rem;
    margin-top: -1rem;
  }
}

@media screen and (max-width: 39.9375em) {
  .Intro {
    margin-top: 0;
  }

  .Intro--sub-heading {
    font-size: 1em;
    padding: .5rem;
    margin-top: -1rem;
  }

  .Intro--self-portrait {
    margin-top: 0rem;
    width: 90%;
  }
}
