.MySkills--text {
  padding-right: 3rem;
}

.MySkills--skill {
  text-align: center;
  padding-bottom: 3rem;
}

.MySkills--image {
  margin-bottom: 1rem;
  width: 10rem;
}

.MySkills--caption {
  margin-bottom: 0rem;
}

.MySkills--description {
}
