.MySkills--text {
  padding-right: 3rem;
}

.MySkills--skill {
  text-align: center;
}

.MySkills--first-row {
  padding-bottom: 3rem;
}

.MySkills--image {
  margin-bottom: 1rem;
  width: 8rem;
}

.MySkills--caption {
  margin-bottom: 0rem;
}

.MySkills--description {
  margin-bottom: 0rem;
}
