.MyWork--row {
  margin-bottom: 2rem;
}

.MyWork--container {
  position: relative;
}

.MyWork--hover-info {
  bottom: 1rem;
  left: 1rem;
  width: 90%;
  height: 3rem;
  background-color: white;
  position: absolute;
  padding: .75em;
  font-weight: 600;
}

.Modal--header {
  padding: 1rem;
}

.Modal--close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.Modal--description {
  padding: 1rem;
}

.Modal--image {
  text-align: center;
}

/* Remove scroll on the body when react-modal is open */
.ReactModal__Body--open {
    overflow: hidden;
}
