.Hamburger {
  width: 100%;
  position: relative;
  padding: 1rem;
  padding-left: 0;
  padding-right: 0;
  font-size: 1.2rem;
  z-index: 9999;
}

.Hamburger h1 {
  padding: 1rem;
}

.Hamburger--open {
  position: absolute;
  top: 0rem;
  height: 100%;
  background-color: #FEFEFE;
  overflow: hidden;
}

.Hamburger--toggle {
  font-size: 1.8rem;
  margin: .4rem;
  margin-right: -.5rem;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
}

.Hamburger--title {
  margin-left: 1.8rem;
}

.Hamburger--items {
  height: 100%;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
