.Modal--close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.Modal--description {
  text-align: left;
  /* font-size: 1rem; */
  /* line-height: 1.8rem; */
}

.Modal--subheader {
  text-align: left;
  font-weight: 300;
  font-family: ProximaNova, Helvetica, sans-serif;
}

.Modal--image {
  max-height: 100%;
  max-width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.Modal--header {
  width: 100%;
}

.Modal--title {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  text-align: left;
}

.Modal--skills {
  opacity: .5;
  margin-bottom: 4rem;
}

.Modal--close-btn {
  background-color: #5BA8C7;
  font-weight: 600;
  font-size: 1.2rem;
  width: 8rem;
  margin: 3rem;
  margin-bottom: 6rem;
}

.Modal--close-btn:hover {
  background-color: #dd6e6e;
}

.Modal--close-btn:focus {
  background-color: #dd6e6e;
}

.Modal--content {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background-color: #fefefe;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 0px;
  text-align: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  z-index: 9999;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (max-width: 39.9375em) {
  .Modal--title {
    font-size: 2rem;
  }

  .Modal--image {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }

  .Modal--subheader {
    line-height: 2rem;
  }

  .Modal--content {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .Modal--image {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .Modal--intro h2 {
    font-size: 1.5rem;
    line-height: 2.3rem;
  }
}

.Modal--70p-image img {
  width: 70%;
}

.Modal--50p-image img {
  width: 50%;
}

.Modal--AnyQ-char {
  padding-bottom: 1rem;
}

.Modal--content-header {
  width: 100%;
}

/* Remove scroll on the body when react-modal is open */
.ReactModal__Body--open {
  overflow: hidden;
}
