.Section {
}

.Section--anchor {
  opacity: 0;
}

.Section:first-of-type {
  margin-bottom: 0rem;
}

.Section:last-of-type {
  margin-bottom: 0rem;
}

.Section--arrow {
  flex-grow: 1;
}

.Section--arrow {
  width: 2rem;
}

.Section--heading {
  max-width: 25rem;
  margin-top: 6rem;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 39.9375em) {
  .Section {
    margin-bottom: 0rem;
  }

  .Section--heading {
    margin-top: 3rem;
  }
}
