.Section {
  margin-bottom: 15rem;
}

.Section--arrow {
  flex-grow: 1;
}

.Section--arrow {
  width: 2rem;
}

.Section--header {
  margin-top: 2rem;
  margin-bottom: 6rem;
}

@media screen and (max-width: 39.9375em) {
  .Section {
    margin-bottom: 5rem;
  }

  .Section--header {
    margin-bottom: 3rem;
  }
}
